*.html
*.bak
*.swp
__pycache__
*.egg-info
*.pyc
.tox/
build/*
lib/autokey/qtui/resources/icons/

# build artifacts
autokey-gnome-extension/autokey-gnome-extension@autokey.shell-extension.zip

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE's
.idea
.vscode

test_coverage_annotated_source/
test_coverage_report_html/
