*.html
*.bak
*.swp
__pycache__
*.egg-info
*.pyc
lib/autokey/qtui/resources/icons/

# Build artifacts
autokey-gnome-extension/autokey-gnome-extension@autokey.shell-extension.zip
build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea
.vscode

# Tests
test_coverage_annotated_source/
test_coverage_report_html/
.coverage
.coverage.*
htmlcov/
*.lcov
.pytest_cache/
.tox/
