dbus
gir1.2-appindicator3-0.1
gir1.2-ayatanaappindicator3-0.1
gir1.2-glib-2.0
gir1.2-gtk-3.0
gir1.2-gtksource-3.0
gir1.2-notify-0.7
gobject-introspection
graphicsmagick-imagemagick-compat
kdialog
libcairo2-dev
libdbus-1-dev
libdbus-glib-1-dev
libgirepository1.0-dev
meson
ninja-build
pkg-config
pyqt5-dev-tools
python3-dbus
python3-dev
python3-evdev
python3-gi
python3-pyudev
python3-tk
wmctrl
x11-xserver-utils
xautomation
zenity
