dbus
python3-dbus
libcairo2-dev
libdbus-1-dev
libpython3-dev
libdbus-glib-1-dev
libgirepository1.0-dev
wmctrl
gir1.2-gtk-3.0
gir1.2-gtksource-3.0
gir1.2-appindicator3-0.1
gir1.2-glib-2.0
gir1.2-notify-0.7
python3-gi
zenity
kdialog
pyqt5-dev-tools
x11-xserver-utils
