dbus
kdialog
libcairo-dev
libdbus-1-dev
libpython3-dev
libdbus-glib-1-dev
libgirepository1.0-dev
gir1.2-gtk-3.0
gir1.2-gtksource-3.0
gir1.2-appindicator3-0.1
gir1.2-glib-2.0
gir1.2-notify-0.7
python3-dbus
python3-gi
python3-pyudev
pyqt5-dev-tools
wmctrl
x11-xserver-utils
zenity
graphicsmagick-imagemagick-compat
xautomation
