#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

override_dh_fixperms:
	dh_fixperms
	chmod a-x debian/autokey-common/usr/share/icons/*/scalable/apps/*.svg

# Add here any variable or target overrides you need.
DEB_INSTALL_MANPAGES_autokey_qt = debian/autokey-qt.1
DEB_INSTALL_MANPAGES_autokey_gtk = debian/autokey-gtk.1
