# $Id: autokey-gtk.desktop 22 2008-01-29 11:29:13Z peabody $
[Desktop Entry]
Name=AutoKey
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Keywords=macros;keyboard;auto;key;autokey;ak;automation;shortcuts;bind;hotkey;autohotkey;mouse;customization;
Exec=autokey-gtk -c
Terminal=false
Type=Application
Icon=autokey
Categories=GNOME;GTK;Utility;
