# $Id: autokey.desktop 22 2008-01-29 11:29:13Z peabody $
[Desktop Entry]
Encoding=UTF-8
Name=AutoKey
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Exec=autokey
Terminal=false
Type=Application
Icon=autokeyicon.svg
Categories=GNOME;GTK;Utility
