# $Id: autokey.desktop 22 2008-01-29 11:29:13Z peabody $
[Desktop Entry]
Name=AutoKey (QT)
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Exec=autokey-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/akicon.png
Categories=KDE;Qt;Utility;
