# $Id: autokey-qt.desktop 22 2008-01-29 11:29:13Z peabody $
[Desktop Entry]
Name=AutoKey (Qt)
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Exec=autokey-qt
Terminal=false
Type=Application
Icon=autokey
Categories=Qt;Utility;
